@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <h1>Log in</h1>
                    <br/>
                    <p>Log in to your account</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<div class="contact-form-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="form-title">
                    <h2>Enter your Info below to Log in...</h2>
                </div>
                <div class="contact-form">
                    <form id="account" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <p>
                            <label asp-for="Input.Email" class="form-label"></label>
                            <input asp-for="Input.Email" placeholder="Email" autocomplete="username" aria-required="true" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </p>
                        <p>
                            <label asp-for="Input.Password" class="form-label"></label>
                            <input asp-for="Input.Password" placeholder="Password" autocomplete="current-password" aria-required="true" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </p>
                        <div>
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe" class="form-label">
                                    <input class="form-check-input" asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div>
                            <p><input id="login-submit" type="submit" value="Log in"></p>
                        </div>

                        <div>
                            <p>
                                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            </p>
                            <p>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                            </p>
                            <p>
                                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                            </p>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
        



<!-- logo carousel -->
<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo-carousel-inner">
                    <div class="single-logo-item">
                        <img src="~/assets/img/logos/amulet2.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="~/assets/img/logos/sigil.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="~/assets/img/logos/anitpossesion.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="~/assets/img/logos/demoncolt.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="~/assets/img/logos/deviltrap.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="~/assets/img/logos/tags.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end logo carousel -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
        }
