@{
    ViewData["Title"] = "Home";
}

	<!-- home page slider -->
	<div class="homepage-slider">
		<!-- single home slider -->
		<div class="single-homepage-slider homepage-bg-1">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-7 offset-lg-1 offset-xl-0">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">Ready to go Supplies</p>
								<h1>Great Supplies for a Quick Hunt</h1>
								<div class="hero-btns">
									<a asp-action="TiledProducts" asp-controller="Products"class="boxed-btn">Visit Shop</a>
									<a asp-action="Contact" class="bordered-btn">Contact Us</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- single home slider -->
		<div class="single-homepage-slider homepage-bg-2">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1 text-center">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">New Supplies Every Week</p>
								<h1>100% Guaranteed to get the Job Done</h1>
								<div class="hero-btns">
									<a asp-action="TiledProducts" asp-controller="Products" class="boxed-btn">Visit Shop</a>
									<a asp-action="Contact" class="bordered-btn">Contact Us</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- single home slider -->
		<div class="single-homepage-slider homepage-bg-3">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1 text-right">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">Hunters Specials Every Month!</p>
								<h1>Get Hunter's Discount</h1>
								<div class="hero-btns">
								<a asp-action="TiledProducts" asp-controller="Products" class="boxed-btn">Visit Shop</a>
									<a asp-action="Contact" class="bordered-btn">Contact Us</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end home page slider -->

	<!-- features list section -->
	<div class="list-section pt-80 pb-80">
		<div class="container">

			<div class="row">
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-shipping-fast"></i>
						</div>
						<div class="content">
							<h3>Free Shipping</h3>
							<p>When order over $75</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-phone-volume"></i>
						</div>
						<div class="content">
							<h3>24/7 Support</h3>
							<p>Get support all day</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="list-box d-flex justify-content-start align-items-center">
						<div class="list-icon">
							<i class="fas fa-sync"></i>
						</div>
						<div class="content">
							<h3>Refund</h3>
							<p>Sorry, no refunds at this time</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- end features list section -->

	<!-- product section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Our</span> Products</h3>
						<p>You will find some of the best fundamental supplies here for a successful hunt!</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a asp-action="SingleProduct"><img src="~/assets/img/Products2/colt.jpg" alt=""></a>
						</div>
						<h3>Strawberry</h3>
						<p class="product-price"><span>Per Kg</span> 85$ </p>
						<a asp-action="Cart" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a asp-action="SingleProduct"><img src="~/assets/img/Products2/angleblade.jpg" alt=""></a>
						</div>
						<h3>Berry</h3>
						<p class="product-price"><span>Per Kg</span> 70$ </p>
						<a asp-action="Cart" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a asp-action="SingleProduct"><img src="~/assets/img/Products2/deanpistol.jpg" alt=""></a>
						</div>
						<h3>Lemon</h3>
						<p class="product-price"><span>Per Kg</span> 35$ </p>
						<a asp-action="Cart" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end product section -->

	<!-- cart banner section -->
	<section class="cart-banner pt-100 pb-100">
    	<div class="container">
        	<div class="row clearfix">
            	<!--Image Column-->
            	<div class="image-column col-lg-6">
                	<div class="image">                    	
                    	<img src="~/assets/img/Products2/misfit-props-winchester-brothers-rock-salt-loaded.jpg" alt="">
                    </div>
                </div>
                <!--Content Column-->
                <div class="content-column col-lg-6">
					<h3><span class="orange-text">Product</span> of the month</h3>
                    <h4>Rock Salt Shells</h4>
                    <div class="text">These rock salt shells have been packed by Bobby Singer himself!</div>                   
                	<a asp-action="Cart" class="cart-btn mt-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>
        </div>
    </section>
    <!-- end cart banner section -->

	<!-- testimonail-section -->
	<div class="testimonail-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-center">
					<div class="testimonial-sliders">
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="~/assets/img/hunters/Hunter1.jpg" alt="">
							</div>
							<div class="client-meta">Hunter</span></h3>
								<p class="testimonial-body">
									"Ordering my supplies here have saved me time and money! Gives me more time out hunting!"
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="~/assets/img/hunters/hunter2.jpg" alt="">
							</div>
							<div class="client-meta">
								<h3>Jeff Toby <span>Hunter</span></h3>
								<p class="testimonial-body">
									" They have the best deals and my supplies ship very fast! "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="~/assets/img/hunters/Hunter4.jpg" alt="">
							</div>
							<div class="client-meta">
								<h3>Rick Grimes <span>Hunter of Zombies</span></h3>
								<p class="testimonial-body">
									" They help get the job done! "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end testimonail-section -->
	
	
	<!-- logo carousel -->  
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="~/assets/img/logos/amulet2.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="~/assets/img/logos/sigil.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="~/assets/img/logos/anitpossesion.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="~/assets/img/logos/demoncolt.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="~/assets/img/logos/deviltrap.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="~/assets/img/logos/tags.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- end logo carousel -->